<form [formGroup]="contactFormGroup" (ngSubmit)="onSubmit()">

  <label>Name:
    <input type="text" formControlName="name" >
  </label>
  <label>Dept:
    <input type="text" formControlName="department">
  </label>
  <label>UID:
    <input type="text" formControlName="UID">
  </label>
  <!--
  <button type="submit" [disabled]="!contactFormGroup.valid">Submit</button>
-->
  <button type="submit" >Submit</button>

  <div *ngIf="contactFormGroup.get('name').errors">
    Name has errors and is required.
  </div>
</form>

Status: {{contactFormGroup}}<br/>

